
/* =====+++++++++++++++++++==================================================
   Author: Phil Brienesse - Coffee Web Development
   Updated: Reine Vizcarra - Eclipse Geomatics Ltd.
   Date Updated: August 2021
   ========================================================================== */
@font-face {
    font-family: 'fira_sansmedium';
    src: url('fonts/firasans-medium-webfont.eot');
    src: url('fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-medium-webfont.woff2') format('woff2'),
         url('fonts/firasans-medium-webfont.woff') format('woff'),
         url('fonts/firasans-medium-webfont.ttf') format('truetype'),
         url('fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansregular';
    src: url('fonts/firasans-regular-webfont.eot');
    src: url('fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff'),
         url('fonts/firasans-regular-webfont.ttf') format('truetype'),
         url('fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'fira_sansbold';
    src: url('fonts/firasans-bold-webfont.eot');
    src: url('fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff'),
         url('fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbook';
    src: url('fonts/firasans-book-webfont.eot');
    src: url('fonts/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-book-webfont.woff2') format('woff2'),
         url('fonts/firasans-book-webfont.woff') format('woff'),
         url('fonts/firasans-book-webfont.ttf') format('truetype'),
         url('fonts/firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansextralight';
    src: url('fonts/firasans-extralight-webfont.eot');
    src: url('fonts/firasans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-extralight-webfont.woff2') format('woff2'),
         url('fonts/firasans-extralight-webfont.woff') format('woff'),
         url('fonts/firasans-extralight-webfont.ttf') format('truetype'),
         url('fonts/firasans-extralight-webfont.svg#fira_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('fonts/firasans-light-webfont.eot');
    src: url('fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-light-webfont.woff2') format('woff2'),
         url('fonts/firasans-light-webfont.woff') format('woff'),
         url('fonts/firasans-light-webfont.ttf') format('truetype'),
         url('fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'fira_sanssemibold';
    src: url('fonts/firasans-semibold-webfont.eot');
    src: url('fonts/firasans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-semibold-webfont.woff2') format('woff2'),
         url('fonts/firasans-semibold-webfont.woff') format('woff'),
         url('fonts/firasans-semibold-webfont.ttf') format('truetype'),
         url('fonts/firasans-semibold-webfont.svg#fira_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0 4%;
}

[role=main] {
    background: #fff !important;
}

.main{
  background: #fff !important;
}

body {
  font: 14px/1.5 fira_sansregular, Helvetica, sans-serif;
  color: #333;
  background: #fff !important;
  padding: 0;
}

body a {color: #448ec1;}

h1 {font: normal 32px/1.2em fira_san-semibold, Helvetica, sans-serif !important; color: #51886f !important;}
h2 {font: normal 20px/1.2 fira_sansbold, Helvetica, sans-serif !important; color: #375a85 !important; text-transform: uppercase !important;}
h3 {font: normal 20px/1.2 fira_sanssemibold, Helvetica, sans-serif !important; color: #375a85 !important; text-transform: uppercase !important;}
h4 {font: normal 16px/1.2 fira_sansmedium, Helvetica, sans-serif !important; color: #375a85 !important;}

h1, h2, h3, h4, h5, h6 {margin: 0 0 .7em 0; line-height: 1.2em;}
h1 a, h2 a, h3 a {text-decoration: none;}
h1.tight, h2.tight, h3.tight, h4.tight, h5.tight, h6.tight {margin-bottom: .1em;}
p {margin-top: 0;}


.box {
    box-shadow: none;
    border: none;
}

.account-masthead {
  margin: 0;
  padding:0;
}

.masthead {
  background: #fff !important;
}

.masthead .container {padding: 0;}

.masthead a { color: #448ec1; text-decoration: none; }

.masthead .nav-collapse { float: none; padding-top: 0; }

.masthead .nav-wrapper {
    background: #375a85;
}

.masthead hgroup h1 {
    letter-spacing: 0 !important;
    margin: 0 0 0.7em 0 !important;
}

.masthead nav {
    position: relative;
}

.nav-wrapper .wrapper {
  margin: 0;
  width: 100%;
}

.masthead .btn-navbar {
  position:absolute;
  top: 0;
  right: 0;
}

.masthead .section.navigation {float: none;}

.navbar-static-top .container {width: 100%;}

.navbar-static-top {margin: 0;}

.masthead .navigation {margin-right: 0;}

.masthead nav li {
    font: normal 18px/1 fira_sansregular, Helvetica, sans-serif;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    background-color: #41ade0 !important;
}

.navbar .nav > li > a {
    padding: 21px 23px 14px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    line-height: 18px !important;
}

.homepage .module-search {
    padding: 0 !important;
    margin: 0 0 100px 0 !important;
}

.homepage .module-search .module-content {
    background: none !important;
    padding: 0 !important;
}

.homepage .module-search .module-content h3.heading {
  margin-bottom: 2em !important;
  font: normal 24px/1.2 fira_sanssemibold, Helvetica, sans-serif !important;
  color: #375a85;
  text-transform: uppercase;
}

.site-footer {
    background: #375a85 !important;
    color: #fff !important;
}

.site-footer a, .site-footer label, .site-footer p {
    color: #fff !important;
    font: 14px/1.5 fira_sansregular, Helvetica, sans-serif;
}


#logo-wrappers {
  position:relative;
  margin-top: 25px;
}

#data-centre-logo {
  font: normal 20px/1.2em fira_sanssemibold, Helvetica, sans-serif;
  color: #51886f;
  text-decoration:none;
  text-align: center;
  float: none;
  margin-bottom: .2em;
}
#data-centre-logo a:hover{
  text-decoration: none;
}

#data-centre-logo:after {
  content: "by";
  font: normal 12px/1em fira_sanslight, Helvetica, sans-serif;
  color: #507182;
  display: block;
}

#data-centre-logo br {display: none;}

#data-centre-logo a {
  color: #51886f;
  font: normal 32px/1.2em fira_sanssemibold, Helvetica, sans-serif;
}

#by {
  display:none;
}

#logo-box p {
  font: normal 18px/1em fira_sanslight, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #507182;
  margin: 0 0 10px 0;
  text-align: center;
}

#logo-box a {
  text-decoration: none; 
  color: #507182;
  font-weight: normal;
}

#logo-box img {
  display: none;
}

#banner {
  height: auto;
  width: 100%;
  background: url(gfx/banner.jpg) no-repeat center top;
}

#banner div.wrapper {
  position: relative;
  height: 459px;
}

#banner p {
  position: absolute;
  bottom: 70px;
  font: normal 29px/1.2em fira_sanslight, Helvetica, sans-serif;
  color: #fff;  
}

#banner p strong {
  font-family: fira_sanssemibold, Helvetica, sans-serif;
  font-weight: normal
}

#banner p a {
  text-decoration: underline;
  color: #fff;
  font-weight: normal;
}

#main-nav {
  width: 100%;
  background: #375a85;
}
#main-nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  left: -25px;
}

#main-nav li {
  float: left;
  color: #448ec1;
  font: normal 18px/1 fira_sansregular, Helvetica, sans-serif;
}

#main-nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  padding: 21px 23px 14px;
  display: block;
}

#main-nav li a:hover {background: #41ade0;}

#content {padding: 65px 0 100px 0 !important;}

#search {margin-bottom: 100px !important;}

#search legend {
  font: normal 20px/1.2em fira_sansbold, Helvetica, sans-serif !important;
  text-transform: uppercase !important;
  color: #375a85 !important;
  margin-bottom: 2em !important;
}

#search input {
  border: 1px solid #779fb8 !important;
  border-radius: 10px !important;
  width: 740px !important;
  padding: 10px 20px !important;
  font: normal 32px/1em fira_sanslight, Helvetica, sans-serif !important;
  color: #51886f !important;
  float: left !important;
}

#search button {
  font: normal 24px/1em fira_sansbold, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #51886f;
  border-radius: 10px;
  width: 166px;
  padding: 14px 0;
  margin-left: 8px;
  float: left;
  border: 1px solid #51886f;
}

#category-nav ul {
    margin: 40px 0 80px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#category-nav li {
    margin-bottom: 40px;
    flex-basis: 200px;
    list-style: none;
}

#category-nav li a {
  width: 121px;
  display: block;
  background: url(gfx/symbols.png) no-repeat left top;
  padding-top: 135px;
  text-align: center;
  font: normal 12px/1em fira_sanssemibold, Helvetica, sans-serif;
  color: #666;
  margin: auto;
}

#category-nav li a {text-decoration: none; color: #666;}

li#catnav-population a {background-position: 0 -200px;}
li#catnav-climatology a {background-position: 0 -400px;}
li#catnav-water a {background-position: 0 -600px;}
li#catnav-boundaries a {background-position: 0 -1000px;}
li#catnav-ecology a {background-position: 0 -800px;}
li#catnav-infrastructure a {background-position: 0 -1200px;}
li#catnav-landuse a {background-position: 0 -1400px;}

.two-column .column {
  width: 325px;
  float: left;
  padding-right: 250px;
}

.two-column .last {padding-right:0;}

.two-column ul {padding-left: 14px;}

#footer {background: #375a85;}

#footer p {
  padding: 15px 0;
  font: normal 14px/1 fira_sansregular, Helvetica, sans-serif;
  color: #fff;
}

.site-footer .row {
  margin: 0 4%;
}

@media only screen and (min-width: 768px) {

  #logo-wrappers {
    position:relative;
    margin-top: 45px;
  }

  #data-centre-logo {
    font: normal 32px/1.2em fira_sanssemibold, Helvetica, sans-serif;
    float: left;
    text-align: left;
    margin-bottom: .7em;
  }

  #data-centre-logo:after {display:none;}

  #data-centre-logo br {display: block;}

  #by {
    float:left;
    margin: 0 20px 0 30px;
    display: block;
  }

  #logo-box {
    float: left;
    position: relative;
    top: 43px;
  }

  #logo-box p {
    margin: 0;
    text-align: left
  }

  #logo-box p span {
    font: normal 14px/1em fira_sansmedium, Helvetica, sans-serif;
    display: block;
    padding-left: 18px;
  }

  #logo-box img {
    position: absolute;
    bottom: 14px;
    left: 63px;
    width: 50px;
    height: 56px;
    display: block;
  }

}

.label[data-format=kml],
.label[data-format*=kml] {
    background-color: #9855e0;
}

.label[data-format="shape file"],
.label[data-format*="shape file"] {
    background-color: #ed711f;
}

.label[data-format=geojson],
.label[data-format*=geojson] {
    background-color: #aaaaaa;
}

@media only screen and (min-width: 979px) {
  .nav-wrapper .wrapper {
    margin: 0 4%;
    width: auto;
    left: -23px;
  }

}

@media only screen and (min-width: 1036px) {
  .wrapper, .site-footer .row, .nav-wrapper .wrapper {
    width: 960px;
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*================================= 
August 2021 Updates
==================================*/
#logo-wrappers.wrapper.clearfix::before,
#logo-wrappers.wrapper.clearfix::after,
.wrapper::before,
.wrapper::after{
 display: none !important;
}

.wrapper {
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  min-height: 0px !important;
  background-color: none !important;
  position: relative !important;
  background-color: transparent !important;
}

.masthead .navbar-collapse{
  float: none !important;
  padding: 0px !important ;
  margin-left: auto !important;
  margin-right: auto !important;
}

.masthead{
  padding: 0px !important;
}

.main .container{
  margin-right: auto !important;
  margin-left: auto !important;
  width: 940px !important;
}

.navbar.nav li a{
  padding: 21px 23px 14px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  line-height: 18px !important;
}

@media only screen and (min-width: 490px){
  #data-centre-logo {
      font: normal 32px/1.2em fira_sanssemibold, Helvetica, sans-serif;
      float: left;
      text-align: left;
      margin-bottom: .7em;
  }
}

.account-masthead.container{
  width: 940px !important;
}

.account-masthead .account {
    float: none !important;
}

.account-masthead .list-unstyled{
  float: right !important;
}

.list-unstyled a{
  font-weight: normal !important;
  font: 14px fira_sansregular, Helvetica, sans-serif;
}

.homepage #content{
  padding: 0px !important;
}

#banner{
  margin-top: 0px !important;
}

.navbar{
  border: none !important;
}

.search-giant input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #555555;
}

.search-giant input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.nav-pills > li + li {
  margin-left: 0px !important;
}

.breadcrumb > li {
  display: inline-block;
  font-size: 24px;
  width: 24px;
  vertical-align: -1px;
}

.toolbar {
  *zoom: 1;
  position: relative;
  margin-bottom: 10px;
  padding: 5px 0;
}

.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active, .toolbar, .breadcrumb > li + li:before {
  font: normal 20px/1.2 fira_sansregular, Helvetica, sans-serif !important;
  color: #505050 !important;
}

.module-heading {
  margin: 0 !important;
  padding: 7px 25px !important;
  font-size: 14px !important;
  line-height: 1.3 !important;
  background-color: #f6f6f6 !important;
  border-top: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
}