{% set placeholder = _('Search for data: e.g. chinook') %}

<div class="module module-search">
  <form class="module-content search-form" action="{% url_for 'dataset.search' %}" method="get">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="fa fa-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>
