{% set active_page = "index" %}
{% ckan_extends %}

{% block primary_content %}
    <section id="section-banner">
      <div id="banner">
        <video src="css/gfx/hero_1.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
  
        <div class="top-logo">
          <a href="/">VASI Open <br> Data Centre</a>
          <img id="by-index" src="css/gfx/by-big.png" width="25px" height="109px" alt="by">
          <a href="http://vasi.gov.vn/Pages/trang-chu.aspx"><img id="logo-index" src="css/gfx/logo_vasi_w.png" height="109px" alt="Tổng cục biển và hải đảo Việt Nam"></a>
        </div>
  
        <div class="main-heading">
          <p>Joining Forces To <br> Mitigate Marine Plastic Debris</p>
        </div>
  
        <div class="search-index">
          {% snippet 'home/snippets/search.html' %}
        </div>
  
        <div class="index-navi">
          <ul>
            <li><a href="/group">View Categories and Collections</a></li>
            <li><a href="/dataset">View Datasets</a></li>
            <li><a href="/user/login">Sign in or Sign up</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section id="section-categories">
      <ul>
        <li><a id="cat-habitat" href="/group/habitat"><p>Habitat</p></a></li>
        <li><a id="cat-population" href="/group/habitat"><p>Population</p></a></li>
        <li><a id="cat-climate" href="/group/climatechange"><p>Climate Change</p></a></li>
        <li><a id="cat-water" href="/group/water"><p>Water</p></a></li>
        <li><a id="cat-landuse" href="/group/land-use-and-development"><p>Land Use and Development</p></a></li>
        <li><a id="cat-gis" href="group/boundaries"><p>GIS Data</p></a></li>
        <li><a id="cat-vegetation" href="/group/ecology"><p>Vegetation/Ecology</p></a></li>
        <li><a id="cat-infrastructure" href="/group/infrastructure"><p>Infrastructure</p></a></li>
      </ul>
    </section>

    <section id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col1">
            <img src="css/gfx/rac-thai-nhua.jpg" alt="Mitigating Marine Plastic Debris in Viet Nam">
          </div>
          <div class="col-md-6 col2">
            <p>
              The project “Mitigating Marine Plastic Debris in Viet Nam” facilitates the development of guidelines on policy advocacy and communication programs to capacity building, awareness raising and behaviour change, towards the mitigation of marine plastic debris.
            </p><br><br>
            <a class="btn-blue" href="/about">Learn More</a>
          </div>
        </div>
      </div>
    </section>

    <section id="section-stats">
      <div class="overlay-stats"></div>

      <div class="container">
          <div class="row stats-content">
            <div class="text-center">
              <!-- <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span> -->
              <!-- <span class="dark-blue">DID YOU KNOW?</span> -->
              <p>DID YOU KNOW?</p>
              <p>Plastic waste could take 100 or even 1,000 years to decompose in landfills while inflicting detrimental effects on humans and the environment.</p>
            </div>
          </div>
      </div>
    </section>

    <section id="section-links">
      <h1>Useful Links</h1>
      <hr>
        <div class="row links">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img class="card-img-top" src="css/gfx/vasi_trang.png" alt="VASI Portal">
              <div class="card-body">
                <p class="card-text">Are you looking for some policy of Vietnam?</p>
                <a class="btn-blue" href="http://vasi.gov.vn/Pages/trang-chu.aspx">View VASI Portal</a><br><br>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img class="card-img-top" src="css/gfx/trang_giam_rac_nhua.png" alt="giamracnhua.vn">
              <div class="card-body">
                <p class="card-text">Project to reduce plastic waste in Vietnam</p>
                <a class="btn-blue" href="https://giamracnhua.vn/en/">View Information</a><br><br>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img class="card-img-top" src="css/gfx/thong_tin_ve_rac_nhua.png" alt="Information to reduce plastic waste in Vietnam">
              <div class="card-body">
                <p class="card-text">Information to plastic waste in Vietnam</p>
                <a class="btn-blue" href="https://giamracnhua.vn/en/activity/">View Information </a><br><br>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
